argcomplete==1.12.3
asgiref==3.5.0
backports.zoneinfo==0.2.1
colorama==0.4.4
commitizen==2.25.0
decli==0.5.2
Django==4.0.4
djangorestframework==3.13.1
flake8==4.0.1
Jinja2==3.1.2
MarkupSafe==2.1.1
mccabe==0.6.1
packaging==21.3
postgres==4.0
prompt-toolkit==3.0.29
psycopg2-binary==2.9.3
psycopg2-pool==1.1
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.9
pytz==2022.1
PyYAML==6.0
questionary==1.10.0
sqlparse==0.4.2
termcolor==1.1.0
tomlkit==0.10.2
typing-extensions==4.2.0
tzdata==2022.1
wcwidth==0.2.5
