body {
    background-color: rgb(236, 236, 236);
}

.maindiv {
    display: flex;
}


.sidebar-ul {
    font-size: 17px;
}

.btn-toggle:hover, .btn-toggle:focus {
    color: rgba(0, 0, 0, .85);
    background-color: rgb(226, 226, 226);
}

.sidebar-link:hover {
    color: rgba(0, 0, 0, .85);
    background-color: rgb(226, 226, 226) !important;
}

.sidebar-btn {
    font-size: 20px;
}

.sidebar-btn:focus {
    box-shadow: 0 0 0 0 black;
}
.sidebar_css {
    position: fixed;
    height: 100%;
}
.container_css {
    margin-left: 320px;
}