{% extends 'base.html' %}

{% block content %}
<div style="display: flex; flex-wrap: wrap; justify-content: center">
    <table data-toggle="table">
        <thead>
            <tr>
                <th style="width: 300px; height: 10px">Category</th>
                <th style="width: 250px; height: 10px">Name</th>
                <th style="width: 100px; height: 10px">Price</th>
                <th style="width: 150px; height: 10px">Note</th>
                <th style="width: 250px; height: 10px">Price category</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
                <tr>
                    <td style="width: 300px; height: 10px">{{ service.category }}</td>
                    <td style="width: 250px; height: 10px">{{ service.name }}</td>
                    <td style="width: 100px; height: 10px">{{ service.price }}</td>
                    <td style="width: 200px; height: 10px">{{ service.note|default:'' }}</td>
                    <td style="width: 250px; height: 10px">{{ service.price_category }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
