<form method="post">
    {% csrf_token %}
    <label for="nomenclature" class="form-label">Номенклатура</label><br>
    <select class="form-control" name="nomenclature" id="nomenclature">
        {% for nom in nomenclature %}
            <option value="{{ nom.pk }}">{{ nom.name }}</option>
        {% endfor %}
    </select>
    <div class="form-text c-red">{{ form.errors.nomenclature }}</div>
    <label for="trade_point_name" class="form-label">Название филиала</label><br>
    <input type="text" class="form-control" id="trade_point_name" name="name" value="{{ form.name.value|default:'' }}"><br>
    <div class="form-text c-red">{{ form.errors.name }}</div>
    <label for="trade_point_address" class="form-label">Адрес филиала</label><br>
    <input type="text" class="form-control" id="trade_point_address" name="address" value="{{ form.address.value|default:'' }}"><br>
    <button type="submit" class="btn btn-secondary">Создать</button>
</form>