<form method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <label for="trade_point_name" class="form-label">Название филиала</label><br>
            <input type="text" class="form-control border-secondary" id="trade_point_name" name="name"
                   value="{{ form.name.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.name %}{{ err }}{% endfor %}</div>
            <br>
        </div>
        <div class="col">
            <label for="trade_point_address" class="form-label">Адрес филиала</label><br>
            <input type="text" class="form-control border-secondary" id="trade_point_address" name="address"
                   value="{{ form.address.value|default:'' }}"><br>
        </div>
    </div>
    <label for="nomenclature" class="form-label">Номенклатура</label><br>
    <select multiple class="selectpicker" data-live-search="true" data-width="100%" name="nomenclature" id="nomenclature">
        {% for nom in nomenclature %}
            {% if nom.pk in form.nomenclature.value %}
                <option selected value="{{ nom.pk }}">{{ nom.name }}</option>
            {% else %}
                <option value="{{ nom.pk }}">{{ nom.name }}</option>
            {% endif %}
        {% endfor %}
    </select><br>
    <div class="form-text text-danger">{% for err in form.errors.nomenclature %}{{ err }}{% endfor %}</div>
    <button type="submit" class="btn btn-primary mt-3">Создать</button>
</form>
