{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body class="text-center">
<main class="form-signin">
    <form action="{% url 'login' orgID=1 %}{% if next %}?next={{ next }}{% endif %}" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Авторизация</h1>
        <div class="form-floating">
            <input required name="username" type="text" class="form-control" id="floatingInput" placeholder="Логин">
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating">
            <input required name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Пароль</label>
        </div>
        <br>
        {% if has_error %}
            <p class="form-error">Неверное имя пользователя или пароль.</p>
        {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
        <p class="mt-5 mb-3 text-muted">© 2022</p>
    </form>
</main>
<script src='{% static "js/bootstrap.js" %}'></script>
</body>
</html>
