{% extends 'base.html' %}
{% load static %}

{% block title %}Детали контрагента{% endblock %}

{% block content %}
    <a class="btn btn-outline-secondary" href="{% url 'contractors' organization.pk tpID %}">К списку</a><br><br>
    <div class="d-flex mb-4">
        <h3>{{ contractor.name }} </h3>
        <a class="ms-2 edit-link" href="{% url 'contractor_update' organization.pk tpID contractor.pk %}"><img width=35
                                                                                                          src="{% static 'pics/edit.png' %}"></a><br>
    </div>
    <div class="card mb-3">
        <div class="card-header bg-transparent">
            <div class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">ИИН/БИН: </span>
                    <span>{{ contractor.IIN_or_BIN }}</span>
                </div>
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Телефон: </span>
                    <span style="padding-left: 5px">{{ contractor.phone }}</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Адрес:</span>
                    <p class="card-text">{% if contractor.address %}{{ contractor.address }}{% endif %}</p>
                </div>
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Банковские детали:</span><br>
                    {% if contractor.IIC or contractor.bank_name or contractor.BIC %}
                        <span class="text"><b>ИИК:</b></span>
                        <span style="padding-left: 8px" class="card-text">{% if contractor.IIC %}{{ contractor.IIC }}{% endif %}</span><br>
                        <span class="text"><b>Банк:</b></span>
                        <span style="padding-left: 5px" class="card-text">{% if contractor.bank_name %}{{ contractor.bank_name }}{% endif %}</span><br>
                        <span class="text"><b>БИК:</b></span>
                        <span style="padding-left: 9px" class="card-text">{{ contractor.BIC }}</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Доверенное лицо: </span>
                    <span style="padding-left: 5px">{{ contractor.trust_person.name }}</span>
                </div>
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Комментарий: </span>
                    <span style="padding-left: 5px">{{ contractor.trust_person.comment }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <br>
            <div class="d-flex justify-content-between">
                <div>
                    <h5>Список собственности:</h5>
                </div>
                <div>
                    <a class="btn btn-outline-secondary" href="{% url 'own_create' organization.pk tpID contractor.pk %}">Добавить
                        в список</a><br>
                </div>
            </div>
            <br>
            <table class="table table-striped">
                <tbody>
                {% for own in contractor.owns.all %}
                    <tr id="own_instance_{{ own.id }}">
                        <th scope="col">{{ own.name }}</th>
                        <th>{{ own.number }}</th>
                        <th class="d-flex justify-content-end" scope="col"><a
                                class="btn btn-outline-danger buttonDelete" data-bs-toggle="modal"
                                data-own_id="{{ own.id }}" data-contr_id="{{ contractor.id }}"
                                data-org_id="{{ organization.id }}"
                                data-bs-target="#own_modal">Удалить</a><br>
                        </th>
                    </tr>
                    {% include 'own/own_delete_modal.html' %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div><br>
    {% block js_block %}
        <script src="{% static 'js/own/own_delete.js' %}"></script>
    {% endblock %}
    <script>
        var tpID = {{ tpID }}
    </script>
{% endblock %}
