{% extends 'base.html' %}

{% block title %}Детали контрагента{% endblock %}

{% block content %}
    <a class="btn btn-primary" href="{% url 'contractors' organization.pk %}">К списку</a><br><br>
    <h3 class="mb-4">{{ contractor.name }} </h3>
    <div class="card border-success mb-3" style="max-width: 60rem;">
      <div class="card-header bg-transparent border-success">
          <div class="row">
              <div class="col-md-6">
                  <span class="text-success">ИИН/БИН: </span>
                  <span>{{ contractor.IIN_or_BIN }}</span>
              </div>
              <div class="col-md-6">
                  <span class="text-success">Телефон: </span>
                  <span>{{ contractor.phone }}</span>
              </div>
          </div>
      </div>
      <div class="card-body">
          <div class="row">
              <div class="col-md-6">
                  <span class="text-success">Адрес:</span>
                  <p class="card-text">{{ contractor.address }}</p>
              </div>
              <div class="col-md-6">
                   <span class="text-success">Реквизиты:</span>
                   <p class="card-text">{{ contractor.bank_requisition }}</p>
              </div>
          </div>
      </div>
      <div class="card-footer bg-transparent border-success">
          <div class="row">
              <div class="col-md-6">
                  <span class="text-success">Доверенное лицо: </span>
                  <span>{{ contractor.trust_person.name }}</span>
              </div>
              <div class="col-md-6">
                  <span class="text-success">Комментарий: </span>
                  <span>{{ contractor.trust_person.comment }}</span>
              </div>
          </div>
      </div>
    </div>
{% endblock %}
