{% extends 'base.html' %}
{% load static %}

{% block title %}Детали контрагента{% endblock %}

{% block content %}
    <h1>Контрагент</h1>
    <hr>
    <div class="d-flex mb-4">
        <a class="btn btn-secondary me-2" href="{% url 'contractors' organization.pk tpID %}">Вернуться к списку</a>
        <a class="btn btn-secondary me-2" href="{% url 'contractor_update' organization.pk tpID contractor.pk %}">Редактировать контрагента</a>
        <a class="btn btn-secondary" href="{% url 'own_create' orgID tpID contrID %}">Добавить собственность</a>
    </div>
    <div class="card mb-3 border-secondary">
        <div class="card-header bg-transparent">
            <div  class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Наименование: </span>
                    <span>{{ contractor.name }}</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">ИИН/БИН: </span>
                    <span>{{ contractor.IIN_or_BIN }}</span>
                </div>
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Телефон: </span>
                    <span style="padding-left: 5px">{{ contractor.phone }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Адрес:</span>
                    <p class="card-text">{% if contractor.address %}{{ contractor.address }}{% else %}Не указано{% endif %}</p>
                </div>
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Банковские детали:</span><br>
                    {% if contractor.IIC or contractor.bank_name or contractor.BIC %}
                        <span class="text"><b>ИИК:</b></span>
                        <span style="padding-left: 8px" class="card-text">{% if contractor.IIC %}{{ contractor.IIC }}{% endif %}</span><br>
                        <span class="text"><b>Банк:</b></span>
                        <span style="padding-left: 5px" class="card-text">{% if contractor.bank_name %}{{ contractor.bank_name }}{% endif %}</span><br>
                        <span class="text"><b>БИК:</b></span>
                        <span style="padding-left: 9px" class="card-text">{{ contractor.BIC }}</span>
                    {% else %}
                        Не указано
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col-md-6">
                    <span class="text" style="font-weight: bold">Доверенное лицо:</span><br>
                    <span class="text" style="font-weight: bold">ФИО: </span>
                    <span style="padding-left: 5px">{% if contractor.trust_person.name %}{{ contractor.trust_person.name }}{% else %}Не указано{% endif %}</span><br>
                    <span class="text" style="font-weight: bold">Комментарий: </span>
                    <span style="padding-left: 5px">{% if contractor.trust_person.comment %}{{ contractor.trust_person.comment }}{% else %}Не указано{% endif %}</span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="text-center">
                <strong>Список собственностей</strong>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <table class="table">
                <thead>
                    <th>Наименование</th>
                    <th>Номер</th>
                </thead>
                <tbody id="w">
                {% if contractor.owns.all %}
                {% for own in contractor.owns.all %}
                    {% if own.is_part is False %}
                        <tr id="own_instance_{{ own.id }}">
                            <td scope="col">{{ own.name }}</td>
                                <td>{% if own.number %}{{ own.number }}{% else %}Не указан{% endif %}</td>
                            <td class="d-flex justify-content-end" scope="col"><a
                                    class="btn btn-danger buttonDelete" data-bs-toggle="modal"
                                    data-own_id="{{ own.id }}" data-contr_id="{{ contractor.id }}"
                                    data-org_id="{{ organization.id }}"
                                    data-bs-target="#own_modal">Удалить</a><br>
                                    <a class="btn btn-secondary" style="margin-left: 15px"
                                        href="{% url 'order_create' orgID tpID contrID own.pk %}">Заказ-наряд</a>
                            </td>
                        </tr>
                    {% include 'own/own_delete_modal.html' %}
                    {% endif %}
                {% endfor %}
                {% else %}
                    У этого котрактора пока нет собственности
                {% endif %}
                </tbody>
            </table>
        </div>
    </div><br>
    {% block js_block %}
        <script src="{% static 'js/own/own_delete.js' %}"></script>
    {% endblock %}
    <script>
        var tpID = {{ tpID }}
    </script>
{% endblock %}
