{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/bootstrap.css" %}'>
    <link rel="stylesheet" href="{% static 'css/sidebars.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="maindiv" style="min-height: 100vh">
        <div class="p-3">
            {% include "partials/sidebar.html" %}
        </div>
        <div class="container-fluid p-3">
            {% block content %}{% endblock content %}
        </div>
    </div>
    <script src='{% static "js/jquery.js" %}'></script>
    <script src='{% static "js/sidebars.js" %}'></script>
    <script src='{% static "js/bootstrap.js" %}'></script>
    <script src='{% static "js/bootstrap-table.min.js" %}'></script>
    {% block js_block %}{% endblock %}
</body>
</html>
