{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block content %}
    <h1 class="mb-4">Заказ-наряды</h1>
    <hr>
    <div class="row mt-0 me-0 ms-0 mb-3">
        <input type="date" id="order_date" class="col me-2 form-control border-secondary bg-transparent">
        <select id="order_status" class="col me-2 form-select border-secondary bg-transparent" name="order_status"
                aria-label="Default select example">
            <option selected value="">Выберите статус</option>
            {% for status in order_statuses %}
                <option value="{{ status.0 }}">{{ status.0 }}</option>
            {% endfor %}
        </select>
        <select id="payment_status" class="col form-select border-secondary bg-transparent" name="payment_status"
                aria-label="Default select example">
            <option selected value="">Выберите статус оплаты</option>
            {% for status in payment_statuses %}
                <option value="{{ status.0 }}">{{ status.0 }}</option>
            {% endfor %}
        </select>
        <input id="search" class="col-6 form-control mt-2 border-secondary bg-transparent" type="search"
               placeholder="Поиск"
               aria-label="Search">
        <div class="d-flex justify-content-end mt-2 p-0">
            <input type="number" class="form-control me-1 bg-transparent border-secondary" style="width: 80px;"
                   value="100" id="limit">
            <div class="btn-group align-items-center">
                <button class="btn btn-secondary" id="back">&#8592;</button>
                <input type="number" class="form-control bg-transparent border-secondary" style="width: 50px" id="page"
                       value="1" disabled>
                <button class="btn btn-secondary" id="next">&#8594;</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        {% if error %}
            <div class="alert alert-danger d-flex align-items-center pt-1 pb-1 pe-4 ps-4 m-0" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img"
                     aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    {{ error }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    </div>
    <table id="table" class="table mt-3">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Дата</th>
            <th scope="col">Статус</th>
            <th scope="col">Статус оплаты</th>
            <th scope="col">Контрагент</th>
            <th scope="col">№ Авто</th>
        </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
    <div style="position: absolute; left: 50%; top: 50%;" id="beforeTable"></div>
    <script>
        var tpID =
        {{ tpID }}
    </script>
    {% include 'partials/payment/payment_modal.html' %}
{% endblock content %}
 <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
{% block js_block %}
    <script src="{% static 'js/order/order_list.js' %}"></script>
{% endblock %}
