{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h2>Создание заказ-наряда</h2>
    <div class="w-50">
        <div class="progress" style="height: 20px; background-color: white;">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Завершение</div>
        </div>
        <br>
        <div class="card mb-3">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text" style="font-weight: bold">Контрагент: </span>
                        <span>{{ contractor.name }} {{ contractor.surname }} | {{ contractor.IIN_or_BIN }}</span>
                    </div>
                    <div class="col-md-6">
                        <span class="text" style="font-weight: bold">Собственность: </span>
                        <span style="padding-left: 5px">{{ own.name }} <sub>{{ own.number|default:'' }}</sub></span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text" style="font-weight: bold">Пробег: </span>
                        <br>
                        {% if mileage %}
                            <span class="card-text">{{ mileage }} km</span>
                        {% else %}
                            <span class="card-text">Не указано</span>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <span class="text" style="font-weight: bold">Примечание: </span>
                        <br>
                        <span class="card-text">{{ note|default:'Не указано' }}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer bg-transparent">
                <div class="row">
                    <div class="col-md-6">
                        <span class="text" style="font-weight: bold">Сумма к оплате (с гарантиями):</span>
                        <br>
                        <span style="padding-left: 5px">{{ price_for_pay }} &#8376;</span>
                    </div>
                    <div class="col-md-6">
                        <span class="text" style="font-weight: bold">Скидка по гарантии: </span>
                        <br>
                        <span style="padding-left: 5px">{{ full_price|subtract:price_for_pay }} &#8376;</span>
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" id="serviceEmployeeForm" enctype="multipart/form-data">
            {% csrf_token %}
            <a href="{% url 'order_create_stage3' orgID=1 tpID=tpID %}" class="btn btn-secondary">Назад</a>
            <button type="submit" class="btn btn-primary">Создать</button>
        </form>
    </div>

{% endblock content %}
