{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h1>Создание заказ-наряда</h1>
    <hr>
    <div class="row m-0" style="height: 410px;">
        <div class="card border-secondary col me-2">
            <div class="card-header bg-transparent">
                <h3 class="my-2">Шаг 1/4</h3>
            </div>
            <div class="card-body d-flex align-items-center">
                <form method="POST" id="emp_reg" enctype="multipart/form-data" class="w-100">
                    {% csrf_token %}
                    <div>
                        <label for="contractor" class="form-label">Контрагент <span style="color: red;">*</span></label>
                        <select class="form-control selectpicker" id="contractor" name="contractor" data-live-search="true" required>
                            <option value="">Выберите контрагента</option>
                            <optgroup label="Контрагенты">
                                {% for contractor in contractors %}
                                    {% if contractor.id == session_contractor.id %}
                                        <option value="{{ contractor.id }}" data-phone="{{ contractor.phone }}" data-address="{{ contractor.address }}" data-subtext="{{ contractor.IIN_or_BIN }}" selected>{{ contractor.name }}</option>
                                    {% else %}
                                        <option value="{{ contractor.id }}" data-phone="{{ contractor.phone }}" data-address="{{ contractor.address|default:'' }}" data-subtext="{{ contractor.IIN_or_BIN }}">{{ contractor.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </optgroup>
                        </select>
                        <div class="form-text" id="contractor-links">
                            <a href="{% url 'contractor_create' orgID=1 tpID=tpID %}" class="link-primary">Создать контрагента</a>
                        </div>
                        <div class="form-text" style="color: red;">
                            {% for err in form.errors.contractor %}{{ err }}{% endfor %}</div>
                    </div>
                    <br>
                    <div class="col">
                        <label for="own" class="form-label">Собственность <span style="color: red;">*</span></label>
                        {% if session_own %}
                            <select name="own" class="form-select border-secondary" id="own" required>
                                {% for own in owns %}
                                    {% if own.id == session_own.id %}
                                        <option value="{{ own.id }}" data-number="{{ own.number }}" data-is-part="{% if own.is_part == False %}false{% else %}true{% endif %}" data-comment="{{ own.comment|default:'null' }}" selected>{{ own.name }}</option>
                                    {% else %}
                                        <option value="{{ own.id }}" data-number="{{ own.number }}" data-is-part="{% if own.is_part == False %}false{% else %}true{% endif %}" data-comment="{{ own.comment|default:'null' }}">{{ own.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        {% else %}
                            <select name="own" class="form-select border-secondary" disabled id="own" required>
                                <option value="">-</option>
                            </select>
                        {% endif %}
                        <div class="form-text" style="color: red;">
                            {% for err in register_form.errors.own %}{{ err }}{% endfor %}</div>
                    </div>
                    <br>
                    <button disabled class="btn btn-secondary">Назад</button>
                    <button type="submit" class="btn btn-primary">Далее</button>
                </form>
            </div>
        </div>
        <div class="card border-secondary col-5 ms-2">
            <div class="card-header bg-transparent">
                <strong>Выбранный контрагент</strong>
            </div>
            <div class="card-body" id="contractorInfo">
                <div class="text-center">
                    Контрагент не выбран!
                </div>
            </div>
            <br>
            <div class="card-header bg-transparent">
                <strong>Выбранная собственность</strong>
            </div>
            <div class="card-body" id="ownInfo">
                <div class="text-center">
                    Собственность не выбрана!
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js_block %}

    <script>var tpID = {{ tpID }}</script>
    <script src="{% static 'js/order/order_create_stage1.js' %}"></script>

{% endblock js_block %}
