{% extends 'base.html' %}
{% load static %}

{% block title %}Детали Сотрудника{% endblock %}

{% block content %}
    <h1 class="mb-4">Сотрудник</h1>
    <hr>
    <div class="d-flex mb-4">
        <a class="btn btn-secondary me-2" href="{% url 'employees' orgID tpID %}">К списку</a>
        <a class="btn btn-outline-secondary" href="{% url 'employee_update' orgID tpID employee.uuid %}">Редактировать</a><br><br>
        <a class="btn btn-primary me-2" download href="#">Скачать удостоверение</a>
        <a class="btn btn-primary" download href="#">Посмотреть удостоверение</a>
    </div>
    <div class="card mb-3 border-secondary">
        <div class="card-header bg-transparent">
            <span class="text"><strong>ФИО: </strong></span>
            <span class="text">{{ employee.name }} {{ employee.surname }}</span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <span class="text" style="font-weight: bold">Позиция: </span>
                    <span>{{ employee.role }}</span>
                </div>
                <div class="col">
                    <span class="text" style="font-weight: bold">Филиал: </span>
                    <span style="padding-left: 5px">{{ employee.tradepoint.name }}</span>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col">
                    <span class="text"><b>ИИH: </b></span>
                    <span class="card-text">{{ employee.IIN }}</span><br>
                </div>
                <div class="col">
                    <span class="text"><b>Дата рождения: </b></span>
                    <span class="card-text">{{ employee.birthdate }}</span><br>
                </div>
            </div>
        </div>
        <div class="card-footer bg-transparent">
            <div class="row">
                <div class="col">
                    <span class="text"><b>Адрес:</b> </span>
                    <span class="card-text">{{ employee.address }}</span><br>
                </div>
                <div class="col">
                    <span class="text"><b>Номер телефона: </b></span>
                    <span class="card-text">{{ employee.phone }}</span>
                </div>
            </div>
        </div>
    <script>
        var tpID = {{ tpID }}
    </script>
{% endblock %}
