{% extends 'base.html' %}
{% load static %}

{% block title %}Список Cотрудников{% endblock %}

{% block content %}
    <h1 class="mb-4">Список сотрудников</h1>
    <hr>
    <div class="d-flex">
        <input id="employeeSearch" class="form-control border-secondary bg-transparent me-2" type="search"
            placeholder="Поиск"
            aria-label="Search">
        <div class="d-flex">
        <button class="btn btn-secondary" id="back">&#8592;</button>
            <input type="number" class="form-control bg-transparent border-secondary" style="width: 100px; text-align: center" id="page" value="1" disabled>
        <button class="btn btn-secondary" id="next">&#8594;</button>
        </div>
    </div>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Позиция</th>
            <th scope="col">Телефон</th>
        </tr>
        </thead>
        <tbody id="body"></tbody>
    </table>
    <div style="position: absolute; left: 50%; top: 50%;" id="emptyBody"></div>
<script>
    var tpID = {{ tpID }}
</script>
{% endblock content %}
{% block js_block %}
    <script src="{% static 'js/employee/employee_view.js' %}"></script>
{% endblock %}
