{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card w-50" style="background-color: transparent !important; border: 0;">
        <div class="card-body">
            <h2 class="mb-4">Добавить Собственность</h2>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" id="auto_form" class="btn btn-light"><span id="auto_text">Автомобиль</span></button>
                </div>
                <div class="col-md-4">
                    <button type="submit" id="part_form" class="btn btn-light"><span id="part_text">Деталь</span></button>
                </div>
            </div>
            <br><br>
            {% include 'partials/own/own_form.html' %}
        </div>
    </div>
{% endblock content %}
{% block js_block %}
    <script src="{% static 'js/own/own_create.js' %}"></script>
{% endblock %}
