<div class="modal fade" id="own_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Удалить собственность</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
          <div class="modal-body" id="ownModalQuestion">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Нет, закрыть</button>
              <form method="post" id="ownDeleteForm">
                  {% csrf_token %}
                  <input type="hidden" id="own_id">
                  <button type="submit" class="btn btn-outline-danger">Да, удалить</button>
              </form>
          </div>
        </div>
      </div>
</div>