{% block content %}
    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="importModalLabel">Загрузка excel файла в <span id="nomNameImport"></span></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" enctype="multipart/form-data"
                      action="{% url 'nomenclature_import' orgID=1 tpID=tpID %}" id="importExel">
                    <div class="modal-body">
                        <div class="card" style="background-color: transparent !important; border: 0;" id="fileInputDrag">
                            <div class="card-body">
                                {% csrf_token %}
                                <input type="number" class="d-none" name="nomenclature_id" id="nomIDImport">
                                <div class="mb-3">
                                    <div class="form-text text-dark mb-2">Выберите/Перетащите файл .xslx или .xls</div>
                                    <div class="input-group">
                                        <input type="button" class="btn btn-secondary" id="loadFileXlsx" value="Выберите файл"
                                            onclick="document.getElementById('file').click();"/>
                                        <label for="loadFileXlsx" id="file-name" class="input-group-text border-0 bg-transparent">файл не выбран</label>
                                    </div>
                                    <input type="file" id="file"
                                           class="d-none"
                                           accept=".xlsx, .xls"
                                           name="excel_file" required>
                                    <script>
                                        let fileInputDrag = document.getElementById('fileInputDrag');
                                        let fileInput = document.getElementById('file');
                                        let fileLabel = document.getElementById('file-name');

                                        fileInputDrag.ondragover = e => {
                                            e.preventDefault();
                                        }

                                        fileInputDrag.ondragenter = function(evt) {
                                            fileInputDrag.classList.add('border');
                                            fileInputDrag.classList.add('border-2');
                                            fileInputDrag.classList.add('border-primary');
                                        };

                                        fileInputDrag.onmousemove = function(evt) {
                                            fileInputDrag.classList.remove('border');
                                            fileInputDrag.classList.remove('border-3');
                                            fileInputDrag.classList.remove('border-primary');
                                        };

                                        fileInputDrag.ondrop = function(evt) {
                                            fileInput.files = evt.dataTransfer.files;
                                            fileInputDrag.classList.remove('border');
                                            fileInputDrag.classList.remove('border-3');
                                            fileInputDrag.classList.remove('border-primary');

                                            if (path) {
                                                fileLabel.innerHTML = fileInput.value.split(/(\\|\/)/g).pop()
                                            } else {
                                                fileLabel.innerHTML = 'файл не выбран'
                                            }

                                            evt.preventDefault();
                                        };

                                        fileInput.onchange = function (event) {
                                            if (fileInput.value) {
                                                fileLabel.innerHTML = fileInput.value.split(/(\\|\/)/g).pop()
                                            } else {
                                                fileLabel.innerHTML = 'файл не выбран'
                                            }
                                        }
                                    </script>
                                </div>
                                <div id="import-progress-container">
                                    <div id="import-progress-message">Ожидание события . . .</div>
                                    <div class="progress">
                                        <div id="import-progress-bar"
                                             class="progress-bar progress-bar-striped progress-bar-animated"
                                             role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                        </div>
                                    </div>
                                </div>
                                <div id="error_text">
                                </div>
                                <div id="success_text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" type="submit">Загрузить</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
