<!-- Modal -->
{% load static %}
<div class="modal fade payment_modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #e1dbdb">
                <h5 class="modal-title" id="exampleModalLabel">Оплатить заказ</h5>
                <button type="button" class="btn-close close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card text-dark bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title" style="color: #0b5ed7">Выбранный заказ-наряд для оплаты</h5>
                        <div class="row row-cols-2">
                            <div class="col idorderclass">
                            </div>
                            <div class="col dayorder">
                            </div>
                            <div class="col statusorder">
                            </div>
                            <div class="col paymentstatusorder">
                            </div>
                            <div class="col contractororder">
                            </div>
                            <div class="col ownorder">
                            </div>
                            <div class="col priceforpay">
                            </div>
                            <div class="col showForm"></div>
                        </div>
                    </div>

                </div>

                <div id="showForm">
                    <form method="POST" action=""
                          id="paymentForm" name="payment">
                        {% csrf_token %}
                        <div class="mb-3">
                            <select id="payment_status_id" name="payment_status"
                                    class="form-select border-secondary bg-transparent"
                                    style="background-image: none !important;">
                                <option selected value="Оплачено">Оплачено</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select name="method" class="form-select border-secondary bg-transparent method"
                                    id="id_method" required>
                                <option value="">Выберите метод оплаты</option>
                                {% for method in payment_methods %}

                                    <option value="{{ method.id }}">{{ method.name }}</option>

                                {% endfor %}
                            </select>

                        </div>
                        <div class="row">
                            <h4>Детали платежа</h4>
                            <hr>
                            <div class="col-md-12 pay_method" id="pay_method">

                            </div>
                            <div class="error_text"></div>

                            <div class="form-text text-danger">
                            </div>
                            <div class="sendId">

                            </div>
                            <br>
                        </div>
                        <div class="submit_button_form">
                            <input type="submit" value="Оплатить" id="submitIfOk" class="btn btn-primary submitValues">
                        </div>

                        <script>
                            var tpID =
                            {{ tpID }}
                        </script>
                    </form>
                </div>
            </div>

            <div class="modal-footer">

            </div>

            <div class="row">
                <div class="col-md-12 pay_method" id="pay_method">

                </div>
                <div class="error_text"></div>

                <div class="form-text text-danger">
                </div>
                <div class="sendId">

                </div>
                <br>
            </div>
            <div class="submit_button_form">

            </div>

            <script>
                var tpID =
                {{ tpID }}
            </script>
            {% block js_block %}
                <script src="{% static 'js/payment/pay_order.js' %}"></script>
            {% endblock %}
        </div>
    </div>
</div>
