<form method="POST" id="emp" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" name="version" value="{{ form.version.value }}">
    <div class="row">
        <div class="col">
            <label for="name" class="form-label">Имя <span class="text-danger">*</span></label>
            <input type="text" class="form-control border-secondary" id="name" name="name"
                   value="{{ form.name.value|default:'' }}" required>
            <div class="form-text" style="color: red;">
                {% for err in form.errors.name %}{{ err }}{% endfor %}</div>
        </div>
        <div class="col">
            <label for="surname" class="form-label">Фамилия <span class="text-danger">*</span></label>
            <input type="text" class="form-control border-secondary" id="surname" name="surname"
                   value="{{ form.surname.value|default:'' }}" required>
            <div class="form-text" style="color: red;">
                {% for err in form.errors.surname %}{{ err }}{% endfor %}</div>
        </div>
    </div>
    <br>
    <div class="d-none">
        <label for="employee_role" class="form-label">Роль <span class="text-danger">*</span></label><br>
        <select class="form-select" name="role" id="role">
            {% for role in roles.items %}
                <option>{{ role.1 }}</option>
            {% endfor %}
        </select>
        <div class="form-text c-red">{{ form.errors.role }}</div>
    </div>
    <div class="row">
        <div>
            <label for="employee_image" class="form-label">Фотография удостоверения <span
                    class="text-danger">*</span></label><br>
            <div class="drop-zone">
                <span class="drop-zone__prompt">Выберите изображение</span>
                <input type="file" class="drop-zone__input" id="employee_image" name="image" accept="image/*" required>
                <div class="form-text c-red">{{ form.errors.image }}</div>
            </div>
        </div>
        <div class="col">
            <label for="employee_birthdate" class="form-label">Дата рождения <span class="text-danger">*</span></label>
            <input type="date" class="form-control border-secondary" id="employee_birthdate" name="birthdate"
                   value="{{ form.birthdate.value|date:'Y-m-d'|default:'' }}" required>
            <div class="form-text" style="color: red;">
                {% for err in form.errors.birthdate %}{{ err }}{% endfor %}</div>
        </div>
        <div class="col d-none">
            <label for="employee_tradepoint" class="form-label">Филиалы <span class="text-danger">*</span></label><br>
            <select class="form-select border-secondary" name="tradepoint" id="employee_tradepoint">
                {% for tradepoint in tradepoints %}
                    {% if tradepoint == form.tradepoint.value %}
                        <option selected value="{{ tradepoint.pk }}">{{ tradepoint.name }}</option>
                    {% else %}
                        <option value="{{ tradepoint.pk }}">{{ tradepoint.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <div class="form-text text-danger">{% for err in form.errors.tradepoints %}{{ err }}{% endfor %}</div>
        </div>
    </div>
    <div class="col">
        <label for="employee_address" class="form-label">Адрес <span class="text-danger">*</span></label>
        <input type="text" class="form-control border-secondary" id="employee_address" name="address"
               value="{{ form.address.value|default:'' }}" required>
        <div class="form-text" style="color: red;">
            {% for err in form.errors.address %}{{ err }}{% endfor %}</div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <label for="employee_IIN" class="form-label">ИИН <span class="text-danger">*</span></label>
            <input type="number" class="form-control border-secondary" id="employee_IIN" name="IIN"
                   value="{{ form.IIN.value|default:'' }}" required>
            <div class="form-text" style="color: red;">
                {% for err in form.errors.IIN %}{{ err }}{% endfor %}</div>
        </div>
        <div class="col">
            <label for="employee_phone" class="form-label">Телефон <span class="text-danger">*</span></label>
            <input type="number" class="form-control border-secondary" id="employee_phone" name="phone"
                   value="{{ form.phone.value|default:'' }}" required>
            <div class="form-text" style="color: red;">
                {% for err in form.errors.phone %}{{ err }}{% endfor %}</div>
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
</form>