<form method="POST">
    {% csrf_token %}
    <div class="row">
        <input type="hidden" class="form-control border-secondary" id="contractor_type" name="contractor_type" value="{{ contractor_type }}">
        <div class="col">
            <label for="contractor_name" class="form-label">Наименование <span class="text-danger">*</span></label><br>
            <input type="text" class="form-control border-secondary" id="contractor_name" name="name" value="{{ form.name.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.name %}{{ err }}{% endfor %}</div><br>
        </div>
        <div class="col">
            <label for="contractor_IIN_or_BIN" class="form-label">ИИН/БИН <span class="text-danger">*</span></label><br>
            <input type="number" class="form-control border-secondary" id="contractor_IIN_or_BIN" name="IIN_or_BIN" value="{{ form.IIN_or_BIN.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.IIN_or_BIN %}{{ err }}{% endfor %}</div><br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="contractor_phone" class="form-label">Контакты <span class="text-danger">*</span></label><br>
            <input type="number" class="form-control border-secondary" id="contractor_phone" name="phone" value="{{ form.phone.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.phone %}{{ err }}{% endfor %}</div><br>
        </div>
        <div class="col">
            <label for="contractor_address" class="form-label">Адрес</label><br>
            <input type="text" class="form-control border-secondary" id="contractor_address" name="address" value="{{ form.address.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.address %}{{ err }}{% endfor %}</div><br>
        </div>
    </div>

    <div id="contractor_banking_details" class="row d-none">
        <div class="col">
            <label for="contractor_bank_requisition" class="form-label">ИИК</label><br>
            <input type="text" class="form-control border-secondary" id="contractor_IIC" name="IIC" value="{{ form.IIC.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.IIC %}{{ err }}{% endfor %}</div><br>
        </div>
        <div class="col">
            <label for="contractor_bank_requisition" class="form-label">Наименование банка</label><br>
            <input type="text" class="form-control border-secondary" id="contractor_bank_name" name="bank_name" value="{{ form.bank_name.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.bank_name %}{{ err }}{% endfor %}</div><br>
        </div>
        <div class="col">
            <label for="contractor_bank_requisition" class="form-label">БИК</label><br>
            <input type="text" class="form-control border-secondary" id="contractor_BIC" name="BIC" value="{{ form.BIC.value|default:'' }}">
            <div class="form-text text-danger">{% for err in form.errors.BIC %}{{ err }}{% endfor %}</div><br>
        </div>
    </div>
    <div class="row">
        <h4>Доверенное лицо</h4>
        <hr>
        <div class="col-md-6">
            <label for="contractor_trust_person_name" class="form-label">ФИО</label><br>
            <input type="text" class="form-control border-secondary" maxlength="100" id="contractor_trust_person_name" name='trust_person_name' value="{{ trust_person|get_item:'name'|default:'' }}">
        </div>
        <div class="col-md-6">
            <label for="contractor_trust_person_comment" class="form-label">Комментарий</label><br>
            <input type="text" class="form-control border-secondary" maxlength="150" id="contractor_trust_person_comment" name='trust_person_comment' value="{{ trust_person|get_item:'comment'|default:'' }}">
        </div>
        <div class="form-text text-danger">{% for err in form.errors.trust_person %}{{ err }}{% endfor %}</div><br>
    </div>
    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
</form>
