{% load static%}
<div style="width: 280px">
    <a href="{% url 'home_redirect' %}"
       class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <span class="fs-3 fw-semibold">GServiceGroup</span>
    </a>
    <div class="d-flex align-items-center mb-3 link-dark text-decoration-none border-bottom">
    {% if request.user.is_staff %}
        <select class="form-select mb-3 border-bottom" aria-label="Default select example" id="tradepointChoices">
            {% for item in trade_points %}
                {% if item.id == tpID %}
                    <option selected value="{{ item.id }}">{{ item.name }}</option>
                {% else %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% else %}
        <select class="form-select mb-3 border-bottom" aria-label="Default select example" id="tradepointChoices">
            {% for item in trade_points %}
                {% if item.id == tpID %}
                    <option selected value="{{ item.id }}">{{ item.name }}</option>
                {% else %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
    </div>

    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-btn" data-bs-toggle="collapse"
                    data-bs-target="#order-collapse" aria-expanded="false">
                Заказ наряды
            </button>
            <div class="collapse sidebar-ul" id="order-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'home_redirect' %}" class="link-dark sidebar-link rounded">Список</a></li>
                    <li><a href="{% url 'order_create_stage1' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Создать</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-btn" data-bs-toggle="collapse"
                    data-bs-target="#contragent-collapse" aria-expanded="false">
                Контрагенты
            </button>
            <div class="collapse sidebar-ul" id="contragent-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'contractor_create' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Создать контрагента</a></li>
                    <li><a href="{% url 'contractors' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Список контрагентов</a></li>
                    <li><a href="{% url 'owns' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Список собственностей</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
		<li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-btn" data-bs-toggle="collapse"
                    data-bs-target="#report-collapse" aria-expanded="false">
                Отчеты
            </button>
            <div class="collapse sidebar-ul" id="report-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'report_preview' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Посмотреть отчет</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
		<li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-btn" data-bs-toggle="collapse"
                    data-bs-target="#price-list-collapse" aria-expanded="false">
                Номенклатура
            </button>
            <div class="collapse sidebar-ul" id="price-list-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'nomenclature_list' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Список</a></li>
                    <li><a href="{% url 'nomenclature_create' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Создать</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-btn" data-bs-toggle="collapse"
                    data-bs-target="#employee-collapse" aria-expanded="false">
                Сотрудники
            </button>
            <div class="collapse sidebar-ul" id="employee-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'employees' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Список</a></li>
                    <li><a href="{% url 'employee_create' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Создать
                        мастера</a></li>
                    <li><a href="{% url 'register' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Создать
                        аккаунт</a></li>
                </ul>
            </div>
        </li>
		<li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed sidebar-btn" data-bs-toggle="collapse"
                    data-bs-target="#trade-point-collapse" aria-expanded="false">
                Филиалы
            </button>
            <div class="collapse sidebar-ul" id="trade-point-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'trade_point_list' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Список</a></li>
                    <li><a href="{% url 'trade_point_create' orgID=1 tpID=tpID %}" class="link-dark sidebar-link rounded">Создать</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        {% if request.user.is_authenticated %}
            <a class="btn btn-outline-secondary align-items-center w-100" aria-current="page" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
    </ul>
</div>
